<h1>Edit photo</h1>
<form action="http://localhost:3000/update_photo/<%=@id%>">

  <label for="caption">Caption:</label>
  <input type="text" name="caption" id="caption" value="<%=@caption%>"><br>

  <label for="source">Image URL:</label>
  <input type="text" name="source" id="source" value="<%=@source%>"><br>

  <button>Update Photo</button>
</form>
