<h1>
  New photo

</h1>
<form action ="create">
<label for="caption"> Caption </label>
<input type = "text" name = "caption" id = "caption">
<label for ="source"> Image Url </label>
<input type = "text" name = "source" id = "source">
<input type = "submit" value ="create photo">
</form>
